.ri-form-group > * {
	flex: 1;
}
.weather {
	font-size: 500%;
	padding: 0;
	margin: 0;
}
h1 {
	margin: 0;
}
.empty_forecast {
	display: none;
}
.empty_forecast:only-child {
	display: table-row;
}
tbody > tr {
	background-color: var(--ri-header-footer-color);
	&:not(:last-child) {
		border-bottom: var(--ri-border);
	}
}
.textAlign-center {
	text-align: center;
}
:has(> .loader) {
	z-index: 10;
	background: rgb(from #000 r g b / 0.5);
	backdrop-filter: blur(6px);
	display: grid;
	place-items: center;
	inline-size: 100svw;
	block-size: 100svh;
	opacity: 1;
	position: fixed;
	pointer-events: visible;
	top: 0;
	left: 0;
	transition: all 0.2s ease;
	@starting-style {
		opacity: 0;
	}
}
.loader {
	--size: 1px;
	width: calc(48 * var(--size));
	height: calc(48 * var(--size));
	border: calc(5 * var(--size)) solid var(--ri-text);
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

#Error {
	display: none;
	position: fixed;
	transform: translateY(100vh);
	scale: 0.8;
	transition: all 0.15s ease-out allow-discrete;
}
#Error[open] {
	display: block;
	top: 0;
	left: 0;
	scale: 1;
	transform: translateY(0);
	@starting-style {
		scale: 0.8;
		display: block;
		transform: translateY(100vh);
	}
}

@keyframes rotation {
	to {
		transform: rotate(360deg);
	}
}
